.log-switch-type {
  margin-bottom: 10px;
  text-align: right;
}

.log-switch-type-item {
  margin: 0 10px 0 10px;
}

.log-item-header {
  display: flex;
  flex-direction: row;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  margin-bottom: 10px;
  background-color: #eeeeee;
}

.log-item-list {
  display: flex;
  flex-direction: row;
  border-bottom: 1px dashed black;
  margin-bottom: 10px;
}

.log-item-id {
  text-align: left;
  padding-left: 20px;
  width: 120px;
  margin: 6px 0 6px 0;
}

.log-item-other {
  text-align: left;
  margin: 6px 0 6px 0;
}