/* You can add global styles to this file, and also import other style files */
body {
  margin: 20px;
}

.form-control:focus, .form-control:active:focus, .form-control.active:focus {
  box-shadow: none !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  box-shadow: none !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link { 
  color: blue;
}