/* You can add global styles to this file, and also import other style files */
body {
  margin: 20px;
}

.form-control:focus, .form-control:active:focus, .form-control.active:focus {
  box-shadow: none !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  box-shadow: none !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link { 
  color: blue;
}

/* Common */
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}