.questionnairy-container {
  margin-top: 12px;
  padding: 12px;
  border: 1px solid #eeeeee;
  border-radius: 32px;;
}

.field {
  padding: 12px;
}

input.ng-invalid.ng-touched {
  border-color: red
}

textarea.ng-invalid.ng-touched {
  border-color: red
}