<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{display: show ? 'block' : 'none'}"
>
  <div
    class="modal-dialog"
    role="document"
    (click)="$event.preventDefault();"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <ng-content select="[title]"></ng-content>
        </h4>
      </div>
      <div class="modal-body">
        <ng-content select="[content]"></ng-content>
      </div>
      <div class="modal-footer">
        <div>
          <button
            type="button"
            class="btn btn-danger" 
            (click)="closePopup()"
          >
            Cancel
          </button>
        </div>
        <ng-content select="[button]"></ng-content>
      </div>
    </div>
  </div>
</div>