<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{display: show ? 'block' : 'none'}"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <ng-content select="[title]"></ng-content>
        </h4>
      </div>
      <div class="modal-body">
        <ng-content select="[content]"></ng-content>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary" 
          (click)="closePopup()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>