<div class="log-header">
  <div class="log-field">FIELD</div>
  <div class="log-value">VALUE</div>
</div>
<div class="log-detail">
  <div class="log-field">TITLE</div>
  <div class="log-value">{{log.title}}</div>
</div>
<div class="log-detail">
  <div class="log-field">PRIORITY</div>
  <div class="log-value">{{log.priority}}</div>
</div>
<div class="log-detail">
  <div class="log-field">STATE</div>
  <div class="log-value">{{log.state ? 'Enabled' : 'Disabled'}}</div>
</div>
<div class="log-detail">
  <div class="log-field">Create date</div>
  <div class="log-value">{{log.createdDate | date:'yyyy/MM/dd'}}</div>
</div>