.log-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eeeeee;
  margin-top: 60px;
}

.log-detail {
  display: flex;
  flex-direction: row;
}

.log-field {
  width: 120px;
  padding-left: 20px;
  margin: 6px 0 6px 0;
}

.log-value {
  flex: 1;
  margin: 6px 0 6px 0;
}